body {
    margin: 0;
    background-color: #FFC0CB;
    font-family: 'Press Start', cursive;
    text-align: center;
    color: #7a2f2f;
}

.title {
    margin-top: 20px;
}

.game-area {
    width: 400px;
    height: 500px;
    margin: 30px auto;
    background: #ff99cc;
    border: 4px solid #7a2f2f;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}